
<h2>Add a Product to our Database</h2>

<form action="Result" method="post">

    <p>Name</p>
    <input type="text" maxlength="30" name="Name" required />
    <br />


    <p>Price</p>
    <input name="Price" type="number" required/>
    <br />

    <p>Quantity</p>
    <input name="Quantity" type="number" required/>
    <br />

    <p>Description</p>
    <input type="text" maxlength="100" name="Description" required />
    <br />
    <input type="submit" />
</form>